.newsCard {
  padding: 20px;
  border-radius: 15px;
  background: var(--containerColor);
}

.newsCard img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  object-fit: cover;
}

.newsCard > p {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  color: var(--textColor);
  margin-bottom: 9px;
}

.newsCard > h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--textColor);
  margin-bottom: 12px;
}

.newsCard > h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: var(--textColor);
}
